<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AzureCATE2E" value="https://www.myget.org/F/azurecate2e/auth/7af39398-f511-498e-969f-a04016b0be30/api/v2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
